<div class="container h-100">
  <div class="row mt-4 mb-4" id="principal">
    <div class="col-md-12">

      <div class="row">
        <div class="col-12 mt-4">
          <img src="./assets/img/logo.png" alt="">

        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <router-outlet>

          </router-outlet>
        </div>
      </div>
    </div>
  </div>

</div>
