<div class="row no-guterrs">
  <div class="col-md-12">

    <div class="row">
      <div class="col-md-12 row ">

        <button class="btn btn-block btn-primary mb-4 mt-4 col-md-12"(click)="mostrarboton()">
          {{estadoboton? 'ocultar boton':'mostrar booton'}}
        </button>

      </div>
    </div>

    <div class="row" *ngIf="estadoboton"
     >
      <div class="cold-md-12  ">
          <form action="" (ngSubmit)="filtrodatos()" class="mb-4">
            <div class="row form-group">
              <div class="col-md-4">
                <label for="buscar">Buscar por</label>
                <select name="buscar" class="custon-select form-control" id="buscar" [(ngModel)]="filtro.buscar">
                  <option value="name">Nombre</option>
                  <option value="glass">Vaso</option>
                  <option value="ingredientes">Ingredientes </option>
                  <option value="category">Categoria</option>
                </select>
              </div>

              <div class="col-md-4" [ngSwitch]="filtro.buscar">
                <label *ngSwitchCase="'name'" for="value">Nombre</label>
                <label *ngSwitchCase="'glass'" for="value">Vasos</label>
                <label *ngSwitchCase="'ingredientes'" for="value">Ingredientes</label>
                <label *ngSwitchCase="'Categoria'" for="value">Categoria</label>
                <input type="text" name="value" id="value" class="form-control" [(ngModel)]="filtro.value">
              </div>

              <div class="col-md-4 align-self-end">
                <button class="btn btn-block btn-primary" type="submit">Filtrar</button>
              </div>


            </div>
          </form>
      </div>
    </div>

  </div>

</div>
